*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: gray;
}

#head{
    background-color: white;
    padding: 15px;
    display: block;
    margin-bottom: 10px;
}

#aboutme{
    display: inline-block;
    
}

.title{
    text-align: center;
}

.container-about{
    margin-left: 30px;
    display: flex;
}

.profilepic{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;

}

.textprofile {
    margin-top: 50px;
}

.exp-container{
    margin-left: 40px;
}

#negrito{
    color: white;
    text-decoration: solid;
}

.points{
    margin-top: 25px;
    margin-right: 30px;
    padding: 5px;
    font-size: 20px;
    color: black;
    text-decoration: none;  
}

.points:hover{
    background-color: gray;
    cursor: pointer;
}

h2, h1{
    margin-top: 40px;
    margin-bottom: 10px;
    color: white;
}

#skills{
    margin-top: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

li{
    margin: 10px;
    list-style: none;
}

.img-ctt{
    
    margin-right: 45px;
    width: 100px;

}